    * {
    margin: 0;
    background-color: #6cbf71;
    }

@supports (grid-area: auto) {
    .main {
        display: grid;
        grid-template-columns: 1fr repeat(3, 12vw);
        grid-template-rows: 250px 1fr 50px;
        margin: 5%;
        grid-template-areas:
            "desc acc features trans" 
            "gallery gallery gallery gallery"
            "footer footer footer footer";
    }
    .header {
        text-align: center;
        font-size: 5em
    }
    .description {
        grid-area: desc;
        min-width: 850px;
        text-align: left;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        line-height: 1.2em;
        padding: .5em;
    }
    .access {
        grid-area: acc;
        align-self:center;  
    }
    .features {
        grid-area: features;
        align-self: center;        
    }
    .transit {
        grid-area: trans;
        align-self: center;
    }
    .gallery {
        grid-area: gallery;
    }
    .gallery img{
        height: 20vw;
    }
    .footer {
        grid-area: footer;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}